/* style.css */

body{
  background: #fff;
  color: #000; 
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
}

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
} 

h1{
  font-family: 'Roboto', sans-serif;
  color:  #41A3C0; 
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #3b4563;
  font-weight: lighter;
  font-size: 1.5em;
}

p{
  color: #8e9bac;
}

a { 
  color: #29324B;
}

a:hover {
  text-decoration: none;
  color: rgb(225, 0, 152);
}

/* Mise en forme du header */
nav li {
  margin: 10px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}

#logo{
  color: #FFC0CB;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  float: left;
  margin-left: 50px;
}

/* Mise en forme de la baseline */
#baseline{
  background-color: #F2F2F2;
  text-align: center;
  background-size: cover;
  background: url(images/doors.jpeg) no-repeat center center fixed;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#baseline h1 {
  color: white;
  font-size: 50px;
}

#baseline a {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
}

#baseline a:hover {
  position: relative;
  top:1px;
}

/* Mise en forme de la section features */
 #apropos, #defis{
  margin: 0 auto;
  width: 80%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 .feature {
  border: 0px solid #F2F2F2;
  background: #FAFAFA;
  margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
  
  display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  -moz-transition:color .2s ease-in;
    -o-transition:color .2s ease-in;
    -webkit-transition:color .2s ease-in;
    background:#f5f5f5;padding:0px;
}

/* Mise en forme du hover features */
.feature,
.feature * {
  box-sizing: border-box;
}
.feature {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.feature img {
  max-width: 100%;
}
.feature .hvrbox-layer_bottom {
  display: block;
}
.feature .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.feature:hover .hvrbox-layer_top,
.feature.active .hvrbox-layer_top {
  opacity: 1;
}
.feature .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.feature .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.feature.active .hvrbox-text_mobile {
  display: block;
}


/* Mise en forme de la section défis */

.defi {
  border: 1px solid #F2F2F2;
  background: #FFF;
  margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
}

.defi h2 {
  text-transform: uppercase;
  font-family: 'roboto'; 
  font-size: 2.5em;
}

.defi p {
vertical-align: center;
}

.defi h2:hover {
  position: relative;
  top:5px;
}

/* Mise en forme de la section download */
#download {
  text-align: center;
}

.downloadbutton {
    display: block;
    width: 100%;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.downloadbutton a:hover {
  position: relative;
  top:1px;
}

/* Mise en forme du footer */
footer {
  background-color: #000000;
  text-align: center;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
}

/* Mise en forme message Welcome */
#welcome{
  background-color: #41A3C0;
  text-align: center;
  padding: 50px;
  color: white;
}

#welcome h4{
 font-size: 50px;
}
